
.App{
    font-family: 'Raleway', sans-serif;
}

/*Main*/

.Main_ok{
    background-image: url("../assets/texture.png"), url("../assets/webgradient1.png");
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
}


.Title_ok{
    position: relative;
    top:27vh;

    font-style: normal;
    font-weight: 100;
    font-size: 5.5vw;
    text-align: center;
    letter-spacing: 0.3em;
    
    color: #FFFFFF;

}


#main_button_ok{


    position: relative;
    top: 47vh;
    margin: 0 auto;

    box-sizing: border-box;
    width: 18vw;
    height: 7vw;

    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #ffffff;
    border-radius: 3.5vw;

    font-size: 2.4vw;
    color:#FFFFFF;
    font-style: normal;
    font-weight: 200;
    text-align: center;
    letter-spacing: 0.3em;
    line-height: 7vw;

}

.Button_ok:hover, .option_ok:hover, .Button_ok_2{
    cursor: pointer;
}

#main_button_ok:hover{
    transition: 300ms;
    background: rgba(255, 255, 255, 0.475);
    color:rgb(47, 42, 102);

}

/*Cut*/

.midTitle_ok{
    position: relative;
    top:11vh;

    font-style: normal;
    font-weight: 200;
    font-size: 2.4vw;
    text-align: center;

    color: #FFFFFF;
}


.Content_ok{
    color:#FFFFFF;
    font-weight: 200;
}

.grid_ok{
    width: 80%;
    position: relative;
    top: 23vh;
    margin: 0 auto;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap:3vw;
}


.Wrapper_ok, .Main_ok, .Content_ok{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.option_ok{
    position: relative;
}

.option_ok>img{
    width:20vw;
}

.option_ok>.text_ok{
    opacity: 0%;
}


.option_ok:hover >img{
    transition: 300ms;
    opacity: 40%;
}

.option_ok:hover >.text_ok{
    opacity: 100%;
}



.text_ok{
    position:absolute;
    text-align: center;
    font-size: 2vw;
    font-weight: 600;

    top:43%;
    left:37%;

    z-index:1;

    color:white;
}

.cutbackground_ok{
    background-image: url("../assets/texture.png"), url("../assets/webgradient2.png");
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
}

/*background*/
.box_ok{
    position:relative;
    display: flex;
    top:18vh;
}

.box_ok_2{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 14%;
    margin-top: 3%;
    margin-bottom: 4%;
}

.display_ok{
    flex-basis:57%;
    position:relative;

}

.leftPic_ok{
    width:24vw;

}

.back_ok{
    position:absolute;
    
    width:16.9vw;
    top:12%;
    left:35.2%;

    z-index:1;

}

.grid_ok_2{
    /* position: absolute; */

    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-gap:1vw;
}

.Button_ok_2{
    
    box-sizing: border-box;
    width: 27vw;
    height: 7vw;

    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #ffffff;
    border-radius: 3.5vw;

    font-size: 2.4vw;
    color:#FFFFFF;
    font-style: normal;
    font-weight: 200;
    text-align: center;
    line-height: 7vw;

}

.forhover:hover{
    transition: 300ms;
    background: rgba(255, 255, 255, 0.475);
    color:rgb(47, 42, 102);
}


.option_ok_2>img{
    width:5vw;
}

.option_ok_2:hover{
    cursor: pointer;
}

.option_ok_2:hover>img{
    border:0.5vw solid white;
    margin:-0.5vw;
}


/*share*/

.roundbutton_ok{
    width:5vw;
}


.button_div:hover{
    transition: 300ms;
    cursor:pointer;
    color: #ffffff64;
}

.adjust{
    position: relative;
    margin-left:12%;
    margin-right:16%;
}

.hhhh{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 23%;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-right:10%;
}

.button_div{
    display:flex;
    flex-direction: row;
    font-size: 1.5vw;
    align-items: center;
    column-gap:7%;
    color: #FFFFFF;
}

.sharebutton{
    width:24vw;
    font-size: 2vw;
=======
/*Filter*/
.box_f_ok_2{
    position:relative;
    display: flex;
    top:15vh;
    margin-left:20%;
    margin-right:10%;
}

.photoFrame_f{
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    width: 27vw;
    height: 34.8vw;
    margin-top:3%
}

.box_f_ok{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 5%;
    margin-top: 4%;
    margin-bottom: 8%;
}

.grid_f_ok{
    width: 100%;
    position: relative;
    margin: auto;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap:2vw;
}

.filter_ok {
    width:10vw;
}

.option_f_ok{
    position: relative;
}

.option_f_ok>img{
    width:8vw;
}

.option_f_ok:hover >img{
    transition: 300ms;
    opacity: 40%;
}

.option_f_ok>.text_f_ok{
    opacity: 0%;
}

.option_f_ok:hover >.text_f_ok{
    opacity: 100%;
}

.text_f_ok{
    position:absolute;
    text-align: center;
    font-size: 1.3vw;
    font-weight: 600;

    top:43%;
    left:10%;
    right:10%;

    color:white;
}

.Button_f_ok{
    
    box-sizing: border-box;
    width: 18vw;
    height: 4vw;

    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #ffffff;
    border-radius: 3.5vw;

    font-size: 1.8vw;
    color:#FFFFFF;
    font-style: normal;
    font-weight: 200;
    text-align: center;
    line-height: 4vw;
    margin-top: 15%;

}