.App {
  width: 100%;
  height: 100%;
  margin: 0;;
  text-align: center;
}

.Webcam{
  display: none;
}

.Button {
  width: 40%;
  height : 5%;
  margin : auto;
  color: white;
  background-color: gray;
}

.Active {
  color: black;
  background-color: white;
}

.option{
  width: 40%;
  height : 5%;
  margin : auto;
  color: black;
  border: 1px black solid;
  background-color: whitesmoke;
}

.Button:hover, .option:hover, .canvasContent:hover{
  cursor: pointer;
}

.canvasWrapper{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left : 10vw;
  margin-right: 10vw;
}

.photoCanvas {
  width: 34vw;
  height: 23vw;
}
.vertical {
  width: 23vw;
  height: 31vw;
}

.photoFrame{
  position: relative;

  background-color: white;
  width: 36vw;
  height: 48vw;
}

.photoBack{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;


}

.photoItems{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  position: absolute;

  background-color: gray;
  width: 80%;
  height: 85%;

}
.oneCut{
  height: 100%;
}
.twoCuts{
  width: 100%;
  height: 50%;
}
.fourCuts{
  width: 50%;
  height: 50%;
}

.selectNum{
  position: relative;
  left : 30%;
  top : 30%;
  color: black;
  z-index: -100;
}

.Selected{
  border: solid black 5px;
}

.Wrapper, .Main, .Content{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}