@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Bad+Script&family=Cutive+Mono&family=Edu+TAS+Beginner:wght@600&family=Gochi+Hand&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
html,
body,
#root {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;

  background: #151515;

  font-family: "Poppins", sans-serif;
  color: #ffffff;
  white-space: pre-wrap;
}
